[Unit]
Description=Run M3U Generator Service periodically
After=network.target

[Timer]
OnBootSec=1min
OnUnitActiveSec=10min
Unit=m3u-generator.service

[Install]
WantedBy=timers.target
